<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" <%= style %> ">
    <title><%= title %></title>
    <script type="text/javascript" src="html5-qrcode.min.js"></script>
</head>
<body>
<div id="qr-reader" style="width:500px"></div>
<div id="qr-reader-results"></div>
<%- include('../partials/footer') %>