<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" <%= style %> ">
    <title><%= title %></title>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="qrcode.js"></script>
</head>
<body>
    <div class="top">
        <button class="logo"></button>
    </div>
    <div class="mid">
        <div class="midcontainer">
        <div class="midtop">
            <button class="menubut1">Poster</button>
            <button class="menubut2">Socials</button>
            <button class="menubut3">Special Thanks</button>
            <button class="menubut4">Your QR Code</button>
        </div>
        <div class="midbottom">
            <div class="menu1">
            <div class="aarpo24">
            </div>
            </div>
            <div class="menu2">
            <div class="instagram">
                <button class="info"></button>
                <a href="https://instagram.com/zerlox__"><p class="content">@zerlox__</p></a>
            </div>
            <div class="gmail">
                <button class="info"></button>
                <p class="content">zerlox.sdc@gmail.com</p>
            </div>
            <div class="number">
                <button class="info"></button>
                <p class="content">+918317489279</p>
            </div>
            <div class="site">
                <button class="info"></button>
                <p class="content">https://aarpo.onrender.com</p>
            </div>
            </div>
            <div class="menu3">
            <div class="about">
                <h1> Special Thanks To</h1>
                <br>
                <br>
                <br>
                <p>. Vice Chairman Nitish Shetty .</p>
                <br>
                <br>
                <br>
                <p>. Principal Thriloknath .</p>
                <br>
                <br>
                <br>
                <p>. Vice Principal Divya Naveen .</p>
                <br>
                <br>
                <br>
                <p>. Teachers & Faculties .</p>
                <br>
                <br>
                <br>
                <p>. Coordinators .</p>
                <br>
                <br>
                <br>
                <p>. Zerlox .</p>
                <br>
                <br>
                <br>
                <p>. Students .</p>
            </div>
            </div>
            <div class="menu4">
                <div class="qr-wrap">
                <div id="qr-code"></div>
            </div>
            </div>
        </div>
    </div>
    </div>
    <div class="bottom"><p>&copy; A website by @nabeeleeeyy on instagram</p></div>
<script>        
    var qrcode = new QRCode("qr-code", {
      text: "<%= userID %>",
      width: 256,
      height: 256,
      colorDark: "#101010",
      colorLight: "#DC143C",
      correctLevel: QRCode.CorrectLevel.H,
    });
</script>

<%- include('../partials/footer') %>
