<%- include('../partials/header') %>
<div class="top">
    <button class="logo"></button>
</div>
<div class="mid">
<div class="mid-container">
    <p class="login-text">Login</p>
<div class="con">
    <input type="text" placeholder="Login using your code" class="login-code">
    <button class="submit-but">Submit</button>
</div>
</div>
</div>
<div class="bottom"></div>
<%- include('../partials/footer') %>